* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

header {
  width: 100%;
  height: 100px;
  padding: 0px 30px;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.messenger {
  width: 40px;
  height: 40px;
}

.overlayMenu > ul {
  width: 100%;
  padding: 0;
}

.overlayMenu > ul > li {
  display: inline-block;
  padding: 0px 10px;
  user-select: none;
  list-style: none;
}

.menu {
  font-size: 20px;
  font-weight: 500;
  line-height: 2rem;
  text-decoration: none;
  color: #000;
}

.menu:hover {
  opacity: 0.5;
}

.hamburgerMenuContainer {
  display: none;
}

/* 755px */
@media only screen and (max-width: 770px) {
  .navbar-container {
    padding-right: 30px;
  }

  .overlay {
    display: none;
  }

  .hamburgerMenuContainer {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger {
    width: 40px;
    height: 4px;
    background-color: grey;
    margin: 5px 0px;
    border-radius: 5px;
  }

  .line1,
  .line2,
  .line3,
  .overlayMenu {
    transition: all 0.5s ease;
  }

  .line2 {
    transition: opacity 0.5s ease;
  }

  .hideLine2 {
    opacity: 0;
  }

  .rotatePlus45Deg {
    transform: rotate(45deg) translate(4px, 9px);
  }

  .rotateMinus45Deg {
    transform: rotate(-45deg) translate(4px, -9px);
  }

  .overlayMenu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 100px;
    opacity: 0;
  }

  .showOverlayMenu {
    opacity: 1;
  }

  .overlayMenu > ul > li {
    background-color: #fafafa;
    display: block;
    line-height: 1;
    margin-top: 10px;
    padding: 33px 0 33px 40px;
  }

  .menu {
    color: #7d7d7d;
    font-size: 30px;
    margin: 0;
  }
}
